<div class="conteiner">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">File Storage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button routerLink="account" class="m-1 btn btn-light btn-outline-primary">Account</button>
      </li>
      <li class="nav-item">
        <button routerLink="files" class="m-1 btn btn-light btn-outline-primary">Upload files</button>
      </li>
    </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>